@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


html {
  scroll-behavior: smooth;
}

body {
  background: #f7f0f0;
}

header  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: lightblue;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}
.navbar #xsign{
    display:none;  
  }

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

h1 .blk {
  
  background-color: green;
}
.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: black;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: red;
}

.mouseuse{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin-top:15px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  background-color: green;
}


.homepage {
  margin-top: 70px;
  height: 100vh;
  width: 100%;
  position: relative;
 
  background-position: center 65%;
  background-size: cover;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 95%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.roomunits{
 
  display: flex;
  height: 50%;
  z-index: 3;
  align-items: center;
  
  justify-content: center;
  flex-direction: column;
}

.page1 {
  margin-top:100px;
  border: 2px solid white;
  align-content: center;

}
.mainI {
  margin-bottom: 50px;
  color: #000;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #ddd;
  background: rgba(255,255,255,0.3);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 0;
}

.main2 .main3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 0;
  margin-left:100px;
}

section .imagebox{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 0;
}

section h2 {
  font-size: 2rem;
}

section > p {
  text-align: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 40px;
  justify-content: space-between;
}


section .about {
  margin: 0 auto;
  max-width: 1200px;
}

.about .company-info {
  margin-top: 30px;
}

.about h3 {
  margin: 30px 0 10px;
}

.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}


section .cards .card {
  background: #fff;

  padding: 40px 15px;  
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 2 - 30px);
  text-align: center;
}

.services .cards .card {
  padding: 0 0 20px;
}

section .cards .rcard {
  background: #fff;
  padding: 40px 15px;  
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 2 - 30px);
  text-align: center;

}

.rooms{
  margin:100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px 0 0;

}
.services{
  margin:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 0;
}

.rooms .cards .rcard {
   background: #bed2c0; 
  padding: 10px 15px;  
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 2 - 30px);
  text-align: center;
}
.rooms .cards .rcard img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 4px;
}
.rooms .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;

}


.services .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;

}

.locabox .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;

}


.cards .card p {
  padding: 0;
  margin-top: 5px;
  
}

section .cards .card h3 a:hover {
  color: red;
  font-size: 20px;
  background: rgba(255,255,255,0.3);
}

.services .card img a:hover{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 8px solid green;
  
}


.reserve {
  margin:40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 0;
  
}

.about .row {
  padding: 0 10px;
}

.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid #bfbfbf;
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #525252;
}

lfooter {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: lightblue;
}
footer  {
   padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  background: lightblue;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span a {
  color: #000;
}


footer a {
  padding: 10px;
}

.more-info .feature .content{
	
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap:10px;
  column-gap:20px;
  padding: 10px 0 0 0;
  border: red solid 10px;
  margin:10px;
  text-align: left;
}


.more-info {
     display:flex;
    align-items: center;
    flex-direction: column; 
     width: 100%;
     gap:5px;
     padding: 10px;
     border: solid blue 2px;

}
.img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }
    
  
.title {
        font-weight: bold;
        font-size: 2.25rem;
           }
.desc {
        line-height: 1.5rem;
         }


@media screen and (max-width: 768px) {

header  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  background: lightblue;
}

.navbar {
  display: flex;
  
  padding: 0 10px;
  max-width: 860px;
  width: 100%;
  justify-content: center;
  
}

  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 10px;
    background: lightgrey;
    transition: left 0.3s ease;
  }

  .navbar  #menu-toggler:checked~.all-links {
    left: 10px;
  }


  .navbar .all-links li {
    font-size: 12px;
  }

  .navbar #hamburger-btn {
    display: block;
  
  }

 .navbar #xsign{
    display: block;     
    color:white;  
    font-size:5px;;
    margin-left:15px;
  }
 
.rdesc{
  display: block;
  margin:0px;
  padding:0px;

}



 .cards .card {
    margin:0px;
    padding:0px;

  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }



  footer a {
    height: 0;
  }


.homepage .content {
  margin:0px;
}


}






@media screen and (max-width: 560px) {


body {
  margin: 15px;
  padding: 15px;
  
}
header  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  background: lightblue;
}
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 150px;
    display: block;
    height: 100vh;
    top: 10px;
    background: lightgrey;
    transition: left 0.3s ease;
  }  
.navbar {
  display: flex;
  
  padding: 0 10px;
  max-width: 560px;
  width: 100%;
  justify-content: center;
  
}


  section .cards .card {
    width: 100%;

    margin-bottom: 30px;
  }

.navbar #hamburger-btn {
    display: block;


section .rdesc {
     margin: 15px;
     padding: 15px;
    margin-bottom: 30px;
  }


  }

/*---rooms only--*/

.rooms{
  margin:5px;
  display: flex; 
  flex-direction: column;
  padding: 5px;
border: 2px solid red;
}

section .cards {
  display: flex;  
  flex-direction: column;
}


.rooms .cards .rcard{   
  width: 100%;
background: lightblue;   
}

.rooms .cards .rcard img {  
  object-fit: cover;
  border-radius: 50px;
  width: 100%;
background: yellow; 
}

/*-ends -rooms only--*/

 .cards .card {
    margin:0px;
    padding:0px;
  }
.roomunits{
 
  display: flex;
 
  z-index: 3;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
}







