
body {
    
  background-image : url("../images/bridge.jpg") ;
  background-repeat: no repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}


.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: lightpink;
    padding: 10px;
    margin-left: 500px;
    border-radius: 5;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  
  }
  
 
  .resbanner {
    padding:0;
    align-items: center;
    margin-left: 400px;
    
  }
  .Bookitems {
    margin:0;
    padding:0;
    background-color:white;
    display:relative;
    height: 20px;
    color: green;
  
   }
  
   
  
  h2.bk1 {
    
    position:relative;
    padding: 0px;
    margin: 0px;
    align-items:center;
    color: white;
    animation-name: bk-load;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    transform: scale(.2);
  }
  
  
  
  p.bk2 {
    
    position:relative;
    padding: 0px;
    margin:0px;
    color: white;
    animation-name: bk-load;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay:1s;
    animation-fill-mode: forwards;
    transform: scale(.2);
   
  }
   
   
  .container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  .container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid green;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .column {
    display:flex;
    column-gap: 15px;
  }
  .form .gender-box {
    margin-top: 20px;
  }
  .gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 5px;
    flex-wrap: wrap;
  }
  .form .gender {
    column-gap: 5px;
  }
  .gender input {
    accent-color: rgb(130, 106, 251);
  }
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  .gender label {
    color: #707070;
  }
  .address :where(input, .select-box) {
    margin-top: 15px;
  }
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
  }
  .form button {
    height: 55px;
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: lightred;
  }
  .form button:hover {
    background: rgb(96, 80, 175);
  }
  /*Responsive*/
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }
  @media (max-width: 600px) {
        
    .reve{
    margin-top:100px;
    padding:0;
    width: 500px;
    height: 300px;

    } 
    

    .resbanner {
        margin-left:10px;
        padding:0;
        align-items: center;
          
      }

      .Bookitems {
        margin:100px;
        padding:0;
        background-color:white;
        height: 20px;
        font-size:x-large;
        color: green;
      
       }
     h2.bk1 {
         display: none;
        padding: 0;
        margin: 0;
        color: green;
        font-size:small;
        
      }
      
      
      
      p.bk2 {
        display: none;
        padding: 0;
        margin:0;
        color: green;
        font-size:small;
        
    
   
      }

      .container {
        position: relative;
        max-width: 400px;
        width: 100%;
        background: lightpink;
        padding: 10px;
        margin-left: 10px;
        border-radius: 5;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
      
      }
      

}
 

  /*@keyframes run-load {
    from {left: 0px;}
    to {left: 800px;}*/
  
  
    @keyframes bk-load {
    0% {
      transform: translateX(-1000%);
       }
  
     80% {
       transform: translateX(-50%);
  
     }
     90% {
      transform: translateX(90%);
       }   
  
      100% {
      transform: translateX(30%);
     }
  }
  