.foodmost{
    display: flex;
    flex-direction: column;
    
    
  }

 
  .foodbanner {
    display: block;
    align-items: center;
    background-color: lightgray;
    border: 2px solid blue;
    margin:20px;
    padding-left: 200px;
   
  
  }
  .foodsize{
    
    width: 1200px;
    height: 600px;
    margin:20px;
    padding:20px;
    

  }
  .resbanner {
    
    margin: 20px;;
    padding:0;
    align-items: center;
    margin-left: 600px;
  }
  .topall {
  
    display:flex;
    flex-direction: row;
    background-color: lightgray;
  
    position: relative;
    margin:20px;
    padding:20px;
    column-gap: 30px;
    color:white;
    padding-left: 400px; 
  }
 
  .topall-right{
    display: flex;
    flex-direction: column;
    row-gap:20px;
  }

  .topall-left{
    display: flex;
    flex-direction: column;
    row-gap:20px;
  }
  .toppage1 {
    
    background-color: lightgray;
    border: 6px solid blue;
    
    width: 400px;
    height: 300px;
    margin:0;
    padding:0;
    overflow: hidden;
    border-radius: 5px;
    font-size:x-large;
    
    color:blue;
    
  }
  .toppage2 {
    
    background-color: lightgray;
    border: 6px solid blue;
    
    width: 400px;
    height: 300px;
    margin:0;
    padding:0;
    overflow: hidden;
    border-radius: 5px;
    font-size:x-large;
    
    color:blue;
    
  }
  .toppage3 {
    
    background-color: lightgray;
    border: 6px solid green;
    margin:0;
    padding:0;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    font-size:x-large;
    
    color:blue;
    
  }
  .toppage4 {
    
    background-color: lightgray;
    border: 6px solid black;
    margin:0;
    padding:0;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    font-size:x-large;
    
    color:blue;
    
  }
  
 
  .Serviceitems {
    margin:0;
    padding:0;
    background-color:lightblue;
    display:block;
    height: 80px;
    align-items:center;
    font-size:large;
    color: green;
  
   }
  
  h2.serve1 { 
    position:relative;
    padding: 10px;
    margin: 0 ;
    align-items:center;
    color: green;
    animation-name: serve-load;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    transform: scale(.2);
  }
  
  
  
  h2.serve2 {
    
    position:relative;
    padding: 10px;
    margin: 0 10px;
    align-items:center;
    color: green;
    animation-name: serve-load;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: scale(.2);
  }
  
  @keyframes serve-load {
    0% {
      transform: translateX(-1000%);
       }
  
     80% {
       transform: translateX(-50%);
  
     }
     90% {
      transform: translateX(90%);
       }   
  
      100% {
      transform: translateX(15%);
     }
  } 
  .callserv{
    margin:0;
    padding:0;
    position: relative;
    text-align: center;
    
    background-color:white ;
  }
  
  @media (max-width: 600px) {


    .topall {

      display:flex;
      flex-direction:column;
      background-color: lightgray;
    
      position: relative;
      grid-gap: 10px;
      padding:10px;
      
    
      overflow: hidden;
      border-radius: 1px;
      font-size:x-large;
      text-align:center;
      align-items:center;
      color:white;
      
    }
 
    .foodbanner {
      display:flex;
      flex-direction:column;
       margin-left:0;
       background-color:white;
       border: 2px solid blue;

       padding-left: 0;
     }

    .foodsize{
    margin-top:100px;
    padding:20px;
    width: 500px;
    height: 300px;

    } 

    h2.serve2 {
      padding-left:0;
    }


  h2.serve1 {
    padding-left:0;
  }
  /*@keyframes run-load {
    from {left: 0px;}
    to {left: 800px;}*/
  
    .foodmost{
      display: flex;
      flex-direction: column;
      padding-left:0;
      
    }

    
}


@media (max-width: 1120px) {


  .topall {

    display:flex;
    flex-direction:column;
    background-color: lightgray;
  
    position: relative;
    grid-gap: 10px;
    padding:10;
    margin-left:20px;
    margin-top:20px;
  
    overflow: hidden;
    border-radius: 1px;
    font-size:x-large;
    text-align:center;
    align-items:center;
    color:white;
    
  }

  .foodbanner {
    display:flex;
    flex-direction:column;
     margin-left:0;
     background-color:pink;
   }

  .foodsize{
  margin-top:100px;
  padding:20px;
  width: 500px;
  height: 300px;

  } 
/*@keyframes run-load {
  from {left: 0px;}
  to {left: 800px;}*/



  
}


  